@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-80 text-brand-20;
    @apply font-secondary;
    box-sizing: border-box;
    background-image: url("../../public/images/bg-body.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@layer utilities {
  .active-hover-opacity {
    @apply hover:opacity-70 active:opacity-50;
  }
}
