@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-80 text-brand-20;
    @apply font-secondary text-body-1;
    box-sizing: border-box;
    background-image: url("../../public/images/bg-body.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}


@layer components {
  .text-heading-1 {
    @apply font-primary text-[28px] leading-[30px];
  }

  .text-body-1 {
    @apply font-secondary text-[28px] leading-[34px];
  }

  .text-body-2 {
    @apply font-secondary text-[18px] leading-[24px];
  }

  .text-link-1 {
    @apply font-secondary text-[18px] leading-[24px] underline active-hover-opacity;
  }

  .button-primary-light {
    @apply text-body-2 uppercase bg-brand-10 text-brand-70;
    @apply px-[12px] py-[5px];
    @apply hover:bg-brand-20 disabled:opacity-50 focus:outline-none;
    @apply active:ring-[1px] active:bg-brand-10 active:ring-brand-10 active:ring-offset-[3px] active:ring-offset-black;
  }

  .button-primary-dark {
    @apply text-body-2 uppercase bg-brand-70 text-brand-10;
    @apply px-[12px] py-[5px];
    @apply hover:bg-brand-80 disabled:opacity-50 focus:outline-none;
    @apply active:ring-[1px] active:bg-brand-70 active:ring-brand-70 active:ring-offset-[3px] active:ring-offset-black;
  }

  .button-secondary {
    @apply text-body-2 uppercase underline bg-brand-50 text-brand-20;
    @apply px-[12px] py-[5px];
    @apply hover:text-brand-10 disabled:opacity-50 focus:outline-none;
    @apply active:ring-[1px] active:bg-brand-50 active:ring-brand-20 active:ring-offset-[3px] active:ring-offset-black;
  }

  .button-tertiary {
    @apply text-body-2 uppercase underline  text-brand-30;
    @apply hover:text-brand-20 disabled:opacity-50 focus:outline-none;
    @apply active:ring-[1px] active:bg-brand-70 active:ring-brand-20 active:ring-offset-[3px] active:ring-offset-black;
  }
}

@layer utilities {
  .active-hover-opacity {
    @apply hover:opacity-70 active:opacity-50;
  }
}
