# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

apps/web                             @lewisflude @poocart
apps/anchor                          @jsonDoge   @vitorpy
circuits/                            @jsonDoge   @vitorpy
docs/                                @jsonDoge   @vitorpy

/.github/                            @lewisflude @poocart @vitorpy
/.vscode/                            @lewisflude @poocart

.editorconfig                        @lewisflude @poocart
.eslintignore                        @lewisflude @poocart
.eslintrc.json                       @lewisflude @poocart
.gitignore                           @lewisflude @poocart @vitorpy @jsonDoge
.gitmodules                          @lewisflude @poocart @vitorpy @jsonDoge
.nvmrc                               @lewisflude @poocart @vitorpy @jsonDoge
.prettierignore                      @lewisflude @poocart
.prettierrc                          @lewisflude @poocart
LICENSE                              @vitorpy
package.json                         @lewisflude @poocart @vitorpy @jsonDoge
pnpm-lock.yaml                       @lewisflude @poocart @vitorpy @jsonDoge
pnpm-workspace.yaml                  @lewisflude @poocart @vitorpy @jsonDoge
README.md                            @lewisflude @poocart @vitorpy @jsonDoge
turbo.json                           @lewisflude @poocart @vitorpy @jsonDoge
