# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

apps/web                             @lewisflude @poocart @njordr
apps/anchor                          @jsonDoge   @vitorpy @njordr
circuits/                            @jsonDoge   @vitorpy @njordr
docs/                                @jsonDoge   @vitorpy @njordr

/.github/                            @lewisflude @poocart @vitorpy @njordr
/.vscode/                            @lewisflude @poocart @njordr

.editorconfig                        @lewisflude @poocart @njordr
.eslintignore                        @lewisflude @poocart @njordr
.eslintrc.json                       @lewisflude @poocart @njordr
.gitignore                           @lewisflude @poocart @vitorpy @jsonDoge @njordr
.gitmodules                          @lewisflude @poocart @vitorpy @jsonDoge @njordr
.nvmrc                               @lewisflude @poocart @vitorpy @jsonDoge @njordr
.prettierignore                      @lewisflude @poocart @njordr
.prettierrc                          @lewisflude @poocart @njordr
LICENSE                              @vitorpy @njordr
package.json                         @lewisflude @poocart @vitorpy @jsonDoge @njordr
pnpm-lock.yaml                       @lewisflude @poocart @vitorpy @jsonDoge @njordr
pnpm-workspace.yaml                  @lewisflude @poocart @vitorpy @jsonDoge @njordr
README.md                            @lewisflude @poocart @vitorpy @jsonDoge @njordr
turbo.json                           @lewisflude @poocart @vitorpy @jsonDoge @njordr
