@import "react-toastify/dist/ReactToastify.css";
@import "@hackernoon/pixel-icon-library/fonts/iconfont.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-80 text-brand-20;
    @apply font-secondary text-3xl leading-8;
    box-sizing: border-box;
    background-image: url("../../public/images/bg-body.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@layer utilities {
  .text-body-2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
  }

  .text-body {
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.2em;
  }

  .text-link {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 18px;
    line-height: 24px;
  }

  .text-link:hover {
    opacity: 0.7;
    transition: all 0.3s ease;
  }

  .text-link:active {
    opacity: 0.5;
    transition: all 0.3s ease;
  }

  .app-box-shadow {
    @apply shadow-[12px_12px_0px_0px] shadow-brand-80;
  }
}

.hover-with-active:hover {
  opacity: 0.7;
}

.hover-with-active:active {
  opacity: 0.5;
}

.Toastify__toast {
  @apply bg-neutral-dark text-neutral-grey uppercase font-secondary text-lg leading-6;
  @apply shadow-[4px_4px_0px_0px] shadow-brand-80;
  width: 320px;
  padding: 16px 45px 16px 16px;
  align-items: flex-start;
}

@media (max-width: 480px) {
  .Toastify__toast-container {
    width: 100%;
    padding: 15px;
  }

  .Toastify__toast {
    width: 100%;
    margin-bottom: 15px;
    padding: 8px 29px 8px 8px;
  }
}

.Toastify__toast-icon {
  margin-top: 2px;
  margin-right: 15px;
}

/* extends hackernoon pixels icon lib with icon as it does not exist */
.hn.hn-telegram {
  display: inline-block;
  background-image: url("../../public/images/icon-telegram.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
